CompileFlags:
  Add: 
    - "-xc"
    - "-std=c23"   
InlayHints:
  BlockEnd: true
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: 
      - readability-duplicate-include
      - misc-include-cleaner
